<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block titulo %} MyWallapop {% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/CSS/stylesheet01.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block scripts %} {% endblock %}
</head>


<!-- Barra de Navegación superior -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img style="width:50px; height:50px;" src="/img/logo.png" alt="logo"/>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                {% if user != null ||  user != undefined %}
                <li id="mTienda" class="active"><a href="/tienda">Tienda</a></li>
                <li id="mPublicaciones"><a href="/publicaciones">Publicaciones</a></li>
                <li id="mAgregar"><a href="/ofertas/agregar">Añadir oferta</a></li>
                {% if user.rol == 'admin' %}
                    <li id="mUsuarios"><a href="/listarUsuarios">Listar usuarios</a></li>
                {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user != null ||  user != undefined %}
                <li id="dinero" class="active"> Dinero <input type="text" value={{user.dinero}}€ disabled/></li>
                {% endif %}
                {% if user == null ||  user == undefined %}
                <li><a id="mRegistrarse" href="/registrarse"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
                <li><a id="mIdentificarse" href="/identificarse"><span class="glyphicon glyphicon-log-in"></span> Identificate</a></li>
                {% endif %}
                {% if user != null ||  user != undefined %}
                <li><a id="mDesconectarse" href="/desconectarse"><span class="glyphicon glyphicon-user"></span> Desconectarse</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <script>
        var mensaje = getUrlParameter('mensaje');
        var tipoMensaje = getUrlParameter('tipoMensaje');
        if (mensaje !== '') {
            if (tipoMensaje === '') {
                tipoMensaje = 'alert-info';
            }
            $(".container")
                .append("<div class='alert " + tipoMensaje + "'>" + mensaje + " </div>");
        }

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            let regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            let results = regex.exec(location.search);
            return results === null ? '' :
                decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
    </script>

    {% block contenido_principal %}
    <!-- Posible contenido por defecto -->
    {% endblock %}

</div>



<body></body>
</html>
