#dinero {
    padding-top: 12px;
    color: grey;
}

#dinero input{
    width: 100px;
    text-align: center;
}

#elementoTienda{
    padding: 20px;
    background-color: lightcyan;
    border-radius: 20px;
}

#elementoDestacado{
    padding: 20px;
    background-color: #ffeea4;
    border-radius: 20px;
}

#lblDestacada{
    color: #452f00;
    font-stretch: ultra-expanded;
    padding: 10px;
    background-color: #fffbd5;
    border-radius: 10px;
}

#logoPrincipal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
}

#mensajeEnviado{
    color: #452f00;
    padding: 10px;
    background-color: #cfffc8;
    border-radius: 10px;
}

#mensajeRecibido{
    color: #452f00;
    padding: 10px;
    background-color: #e6e5ff;
    border-radius: 10px;
}

#nombreEmisor, #nombreReceptor{
    text-transform: uppercase;
    color: white;
}

#nombreEmisor{
    background-color: #53a653;
    border-radius: 7px;
}

#nombreReceptor{
    background-color: #798fa6;
    border-radius: 7px;
}

#fechaEmisor{
    font-size: 10px;
    background-color: #53a653;
    color: white;
    border-radius: 5px;
}

#fechaReceptor{
    font-size: 10px;
    background-color: #798fa6;
    color: white;
    border-radius: 5px;
}

#mConversaciones{
    color: white;
}

#conversacion{
    padding: 20px;
    background-color: lightcyan;
    border-radius: 20px;
}

#propietarioChat{
    font-size: 20px;
    background-color: #798fa6;
    color: white;
    border-radius: 10px;
}