#dinero {
    padding-top: 12px;
    color: grey;
}

#dinero input{
    width: 100px;
    text-align: center;
}

#elementoTienda{
    padding: 20px;
    background-color: lightcyan;
    border-radius: 20px;
}